body {
	font-family: "Open Sans", Tahoma, Sans-serif;
	font-size: 1em;
	padding: 3em;
	background-color: rgb(247,247,247);
}
.left { text-align: left !important; }
#content {
  max-width: 1000px;
  margin: 0 auto;
  img { 
    display: block;
    margin: 0 auto;
  }
  h2 { 
    font-size: 2.5em;
    font-weight: lighter; 
    color: #333;
    text-align: center;
    width: 66%;
    margin: 0 auto 1.5em auto;
    em {
      display: block;
      margin: 1.33em 0;
      color: #999;
      font-size: 0.5em;
      border-top: 1px #eee solid;
      border-bottom: 1px #eee solid;
      padding: 0.33em 0;
    }
    @include respond-to('mobile') { 
      width: 100%; 
      font-size: 2.05em;
      line-height: 1.2;
      margin-top: 1rem;
    }
  }
  h3 {
    margin: 1.5em 0 1rem 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
      margin: 0.5em 0 1.5em 1em;
    }
    & > li {
      margin-bottom: 0.5em;
    }
    &#change-log {
      em {
        font-size: 0.8em;
        color: #999;
      }
      strong {
        background-color: #666;
        color: #fff;
        border-radius: 3px;
        padding: 0.1em 0.45em;
        font-size: 0.8em;
      }
    }
  }
  p,
  ul { 
    font-size: 0.9em; 
    margin: 0.33 0 1.5rem 0;
  }
  a.btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.66em;
    min-width: 12em;
    text-decoration: none;
    margin: 0 0.5em 0.5em 0;
    background-color: #666;
    color: white;
    &:hover { background-color: #cc3374 !important; }
    &#dnl-prod-link{ background-color: #3386cc; }
    @include respond-to('phone') {
      min-width: 100%;
      padding: 0.5em 0;
    }
  }
  a#dnl-prod-link sup,
  a.btn:hover sup { color: white; }  
  sup { 
    color: #999;
    font-size: 0.5em;
    @include respond-to('phone') {
     display: block;
     font-size: 0.66em;
    }
  }
  code {
    display: block;
    color: white;
    margin: 0 0 0.25em 0;
    padding: 0.5em 1.5rem;
    line-height: 1.4;
    pre { overflow: auto; }
    .comment { color: #999; }
    .string { color: #fc0; }
    .fnc { color: #a2d81f; }
    .nmbr { color: #f56221; }
    .el { color: #36a9f2;}
    .attr { color: #ddd; }
    .var { color: #cc3374; }
  }
  dt,
  dd { 
    text-align: left !important; 
    display: inline-block; 
    margin: 0 -4px 0 0;
    vertical-align: top;
    min-height: 60px;
    padding: 0.5rem 0;
    @include respond-to('mobile') {
      display: block;
      width: 100% !important;
      min-height: 0;    
    }
  }
  dt { 
    background-color: #555;
    color: white;
    width: 20%; 
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    span {
      font-size: 1em; 
      display: block;
      padding: 0.25rem 0.66rem;
    }
  }
  dd { 
    background-color: #444;
    width: 80%; 
    text-align: center;
  } 
  #change-log {
    p { 
      display: inline-block;
      margin: 0.15em 0 0.75em 0;
    }
  }
}
footer {
  text-align: center;
  border-top: 1px #ddd solid;
  margin-top: 5em;
  padding: 1em 0.5em 4em 0.5em;
  font-size: 0.9em;
  color: #aaa;
  a {
    color: #666;
    font-size: 1.1em;
    text-decoration: none;
    border-bottom: 1px #666 dotted;
  }
  i { 
    font-size: 6px !important;
    margin: 0 0.5rem;
    color: #666; 
    vertical-align: middle;
  }
  li { display: inline-block; }
  .socials {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    li { margin: 0 0.5em; }
    i { margin: 0; }
  }
}
@include respond-to('mobile') {
  body { 
    text-align: center;
    padding: 1em;
  }
  #change-log { text-align: left; }
}
@include respond-to('phone') {
  body { padding: 0.5em; }
  .no-for-phone { display: none; }
  #change-log p { display: block; }
  footer .socials {
    li { 
      display: block; 
      margin-bottom: 1em;
    }
    li:nth-child(2) { display: none; }
  }
}
